@import url('./global/typography.css');
@import url('./variables.css');
@import url('./blocks/wrapper.css');
@import url('./blocks/header.css');
@import url('./blocks/page-hero.css');
@import url('./blocks/page-services.css');
@import url('./blocks/partners.css');
@import url('./blocks/page-learning.css');
@import url('./blocks/footer.css');


.btn {
  font-family: var(--font-family);
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: var(--color-text-white);
  padding: 15px 30px;
  font-size: 16px;
  background-color: var(--color-btn-bg-bace);
}

.btn-hero-text {
  font-size: 20px;
  line-height: 27px;
}

