:root {

    --font-family:        "Open Sans", sans-serif;
    --color-bg-main:      #020A18;
    --color-bg-dev:       #838da3;

    --color-text-white:   #FFFFFF;
    --color-text-blue:    #3A68B8;
    --color-text-gray:    #FFFFFF;

    --color-btn-bg-bace:  #3A68B8;

}
