<!DOCTYPE html>
<html lang="en">
<head>
  <title>Artificial Intelligence</title>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="UTF-8">
</head>
<body>
  <div id="app">
    <div class="product-image">
      <img :src="image" >
    </div>
    <div class="product-info">
      <h1>{{ product }}</h1>
      <p v-show="inStock">In stock</p>
      <p v-if="onSale">On Sale</p>
      <ul>
        <li v-for="item in details">{{ item }}</li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>