.footer {
    margin: auto;
    max-width: 1146px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 508px;
    padding-top: 100px;
    padding-bottom: 140px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    max-width: 260px;
}

.footer p {
    font-size: 14px;
    font-weight: 450;
    opacity: 0.6;
}

.footer-info p {
    margin-bottom: 37px;
}

.footer-info .logo {
    margin-bottom: 8px;
}

.footer-info .company-name {
    width: 100%;
    color: var(--color-text-blue);
    font-size: 16px;
    margin-bottom: 8px;
}
.footer-info a {
    color: var(--color-text-white);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer-info .email {
    width: 14px;
    height: 10px;
}

.footer-info .location {
    width: 13px;
    height: 16px;
}

.footer-info .phone {
    width: 13px;
    height: 13px;
}
.footer-info .icon {
   margin-right: 10px;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    max-width: 164px;
}

.footer-menu span {
    text-transform: uppercase;
    color: var(--color-text-white);
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 32px;
}


.footer-about span {
    margin-top: 20px;
    text-transform: uppercase;
    color: var(--color-text-white);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 32px;
}

.footer-menu a {
    width: 100%;
    font-size: 14px;
    font-weight: 450;
    opacity: 0.6;
    color: var(--color-text-white);
    padding-bottom: 20px;
}

.footer-about {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    max-width: 261px;
}
.footer-about-social {
    margin-bottom: 53px;
}
.footer-about-social img {
    height: 15px;
    opacity: 0.7;
    margin-right: 25px;
}
.footer-about-lang {
    display: flex;
    align-items: center;
}

.footer-about-lang .globus {
    height: 13px;
}

.footer-about-lang .cursor {
    height: 5px;
}

.footer-about-lang .lang-text {
    margin: 0 9px;
    opacity: 1;
}

.footer-about p {
    margin-bottom: 29px;
}
.footer-about .footer-company-name {
    opacity: 1;
    margin-bottom: 20px;
}